.App {
  text-align: center;
}

.HomePie {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: #b684d8;
  color: white;
  font-size: 35px;
}

.home-links {
  display: flex;
  justify-content: space-around;
  min-height: 02vh;
  align-items: center;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: black;
}

.back-links {
  display: flex;
  justify-content: space-around;
  min-height: 02vh;
  align-items: center;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: black;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 100px;
}

.heading {
  margin-top: 5vh;
}

.recharts-wrapper {
  margin: 0 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  table-layout: fixed;
  text-align: center;
  align-items: center;

}

th,
td {
  border: 1px solid #ffffff;
  padding: 8px;
}

th {
  background-color: #ffffff;
  font-size: 30px;
}

td {
  background-color: #efdffa;
  font-size: 20px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.table-images {
  max-width:200px;
  max-height:200px;


}

.descriptions{
  margin-bottom: 30px;
}


.save-recipe-button{
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #b684d8;
  border-radius: 8px;
  border-color:#b684d8;
  font-size: 15px;
  
}

.recipe-titles{
  margin-top: 20px;
  margin-bottom: 15px;
}

